## Libraries import

In [1]:
import datetime

import pandas as pd
import seaborn as sns
import numpy as np

from google.colab import drive
drive.mount('drive', force_remount=True)

Mounted at drive

## Reading data

In [58]:
data =pd.read_csv('drive/My Drive/Colab Notebooks/data_wind/turbine_data.csv', parse_dates=["Unnamed: 0"]) #dont forget parse_dates

In [59]:
#data.head()
data.tail()

,Unnamed: 0,ActivePower,AmbientTemperatue,BearingShaftTemperature,Blade1PitchAngle,Blade2PitchAngle,Blade3PitchAngle,ControlBoxTemperature,GearboxBearingTemperature,GearboxOilTemperature,...,GeneratorWinding2Temperature,HubTemperature,MainBoxTemperature,NacellePosition,ReactivePower,RotorRPM,TurbineStatus,WTG,WindDirection,WindSpeed
118219,2020-03-30 23:10:00+00:00,70.044465,27.523741,45.711129,1.515669,1.950088,1.950088,0.0,59.821165,55.193793,...,58.148777,39.008931,36.476562,178.0,13.775785,9.234004,2.0,G01,178.0,3.533445
118220,2020-03-30 23:20:00+00:00,40.833474,27.602882,45.598573,1.702809,2.136732,2.136732,0.0,59.142038,54.798545,...,57.550367,39.006759,36.328125,178.0,8.088928,9.229370,2.0,G01,178.0,3.261231
118221,2020-03-30 23:30:00+00:00,20.777790,27.560925,45.462045,1.706214,2.139664,2.139664,0.0,58.439439,54.380456,...,57.099335,39.003815,36.131944,178.0,4.355978,9.236802,2.0,G01,178.0,3.331839
118222,2020-03-30 23:40:00+00:00,62.091039,27.810472,45.343827,1.575352,2.009781,2.009781,0.0,58.205413,54.079014,...,56.847239,39.003815,36.007805,190.0,12.018077,9.237374,2.0,G01,190.0,3.284468
118223,2020-03-30 23:50:00+00:00,68.664425,27.915828,45.231610,1.499323,1.933124,1.933124,0.0,58.581716,54.080505,...,56.741040,39.003815,35.914062,203.0,14.439669,9.235532,2.0,G01,203.0,3.475205

---> its in 10 min timesteps, unnamed:0 is our datetime

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118224 entries, 0 to 118223
Data columns (total 22 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    118224 non-null  datetime64[ns, UTC]
 1   ActivePower                   94750 non-null   float64
 2   AmbientTemperatue             93817 non-null   float64
 3   BearingShaftTemperature       62518 non-null   float64
 4   Blade1PitchAngle              41996 non-null   float64
 5   Blade2PitchAngle              41891 non-null   float64
 6   Blade3PitchAngle              41891 non-null   float64
 7   ControlBoxTemperature         62160 non-null   float64
 8   GearboxBearingTemperature     62540 non-null   float64
 9   GearboxOilTemperature         62438 non-null   float64
 10  GeneratorRPM                  62295 non-null   float64
 11  GeneratorWinding1Temperature  62427 non-null   float64
 12  GeneratorWinding2Temperature  62449 non-null   float64
 13  HubTemperature                62406 non-null   float64
 14  MainBoxTemperature            62507 non-null   float64
 15  NacellePosition               72278 non-null   float64
 16  ReactivePower                 94748 non-null   float64
 17  RotorRPM                      62127 non-null   float64
 18  TurbineStatus                 62908 non-null   float64
 19  WTG                           118224 non-null  object
 20  WindDirection                 72278 non-null   float64
 21  WindSpeed                     94595 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(20), object(1)
memory usage: 19.8+ MB

In [61]:
print(data.nunique(axis=0))

Unnamed: 0                      118224
ActivePower                      94084
AmbientTemperatue                93678
BearingShaftTemperature          62286
Blade1PitchAngle                 38946
Blade2PitchAngle                 39021
Blade3PitchAngle                 39021
ControlBoxTemperature                1
GearboxBearingTemperature        62313
GearboxOilTemperature            62412
GeneratorRPM                     61074
GeneratorWinding1Temperature     62406
GeneratorWinding2Temperature     62424
HubTemperature                   38119
MainBoxTemperature               49145
NacellePosition                   6664
ReactivePower                    94040
RotorRPM                         59254
TurbineStatus                      353
WTG                                  1
WindDirection                     6664
WindSpeed                        94224
dtype: int64

In [62]:
df = data.copy(deep=True) #create a copy of our data in a new df to work with

In [63]:
df.drop(columns=['WTG', 'ControlBoxTemperature'], inplace=True) #drop these columns WTG and ControlboxTemperature only have 1 unique value. We drop it here

In [64]:
#df= df.rename(columns={'Unnamed: 0':'DateTime'})  #rename the datetime column to a better suited title
df['DateTime'] = df['Unnamed: 0'] 
df.drop('Unnamed: 0', axis=1, inplace=True)

#df['DateTime']=pd.to_datetime(df['Unnamed: 0'],format= '%Y-%m-%dT%H:%M:%SZ',errors='coerce')

In [65]:
df['DateTime'].head(20)

0    2017-12-31 00:00:00+00:00
1    2017-12-31 00:10:00+00:00
2    2017-12-31 00:20:00+00:00
3    2017-12-31 00:30:00+00:00
4    2017-12-31 00:40:00+00:00
5    2017-12-31 00:50:00+00:00
6    2017-12-31 01:00:00+00:00
7    2017-12-31 01:10:00+00:00
8    2017-12-31 01:20:00+00:00
9    2017-12-31 01:30:00+00:00
10   2017-12-31 01:40:00+00:00
11   2017-12-31 01:50:00+00:00
12   2017-12-31 02:00:00+00:00
13   2017-12-31 02:10:00+00:00
14   2017-12-31 02:20:00+00:00
15   2017-12-31 02:30:00+00:00
16   2017-12-31 02:40:00+00:00
17   2017-12-31 02:50:00+00:00
18   2017-12-31 03:00:00+00:00
19   2017-12-31 03:10:00+00:00
Name: DateTime, dtype: datetime64[ns, UTC]

In [66]:
# Add datetime parameters 
df['DateTime'] = pd.to_datetime(df['DateTime'], 
 format = '%Y-%m-%dT%H:%M:%SZ', 
 errors = 'coerce')

df['year'] = df['DateTime'].dt.year
df['month'] = df['DateTime'].dt.month
df['day'] = df['DateTime'].dt.day
df['hour'] = df['DateTime'].dt.hour
df['minute'] = df['DateTime'].dt.minute

In [69]:
# Drop original DateTime column
df.drop('DateTime', axis=1, inplace= True)

In [70]:
df.head()

,ActivePower,AmbientTemperatue,BearingShaftTemperature,Blade1PitchAngle,Blade2PitchAngle,Blade3PitchAngle,GearboxBearingTemperature,GearboxOilTemperature,GeneratorRPM,GeneratorWinding1Temperature,...,ReactivePower,RotorRPM,TurbineStatus,WindDirection,WindSpeed,year,month,day,hour,minute
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2017,12,31,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2017,12,31,0,10
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2017,12,31,0,20
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2017,12,31,0,30
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2017,12,31,0,40

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118224 entries, 0 to 118223
Data columns (total 21 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    118224 non-null  object
 1   ActivePower                   94750 non-null   float64
 2   AmbientTemperatue             93817 non-null   float64
 3   BearingShaftTemperature       62518 non-null   float64
 4   Blade1PitchAngle              41996 non-null   float64
 5   Blade2PitchAngle              41891 non-null   float64
 6   Blade3PitchAngle              41891 non-null   float64
 7   GearboxBearingTemperature     62540 non-null   float64
 8   GearboxOilTemperature         62438 non-null   float64
 9   GeneratorRPM                  62295 non-null   float64
 10  GeneratorWinding1Temperature  62427 non-null   float64
 11  GeneratorWinding2Temperature  62449 non-null   float64
 12  HubTemperature                62406 non-null   float64
 13  MainBoxTemperature            62507 non-null   float64
 14  NacellePosition               72278 non-null   float64
 15  ReactivePower                 94748 non-null   float64
 16  RotorRPM                      62127 non-null   float64
 17  TurbineStatus                 62908 non-null   float64
 18  WindDirection                 72278 non-null   float64
 19  WindSpeed                     94595 non-null   float64
 20  DateTime                      0 non-null       datetime64[ns]
dtypes: datetime64[ns](1), float64(19), object(1)
memory usage: 18.9+ MB

## Dealing with null/missing values

In [71]:
df.isna().sum() #sum up the missing values for each column

ActivePower                     23474
AmbientTemperatue               24407
BearingShaftTemperature         55706
Blade1PitchAngle                76228
Blade2PitchAngle                76333
Blade3PitchAngle                76333
GearboxBearingTemperature       55684
GearboxOilTemperature           55786
GeneratorRPM                    55929
GeneratorWinding1Temperature    55797
GeneratorWinding2Temperature    55775
HubTemperature                  55818
MainBoxTemperature              55717
NacellePosition                 45946
ReactivePower                   23476
RotorRPM                        56097
TurbineStatus                   55316
WindDirection                   45946
WindSpeed                       23629
year                                0
month                               0
day                                 0
hour                                0
minute                              0
dtype: int64

In [73]:
# lets start by just filling missing values with the median

for label, content in df.items():                                               # df.items lets us iterate over column name, series --> returns a tuple with column name and the content as a series
    if pd.api.types.is_numeric_dtype(content):                                  # Check whether the provided array or dtype is of a numeric dtype.
        if pd.isnull(content).sum():
            # Add a binary column which tells if the data was missing our not
            df[label+"_is_missing"] = pd.isnull(content)
            # Fill missing numeric values with median since it's more robust than the mean
            df[label] = content.fillna(content.median())

In [76]:
df.head(1)

,ActivePower,AmbientTemperatue,BearingShaftTemperature,Blade1PitchAngle,Blade2PitchAngle,Blade3PitchAngle,GearboxBearingTemperature,GearboxOilTemperature,GeneratorRPM,GeneratorWinding1Temperature,...,GeneratorWinding1Temperature_is_missing,GeneratorWinding2Temperature_is_missing,HubTemperature_is_missing,MainBoxTemperature_is_missing,NacellePosition_is_missing,ReactivePower_is_missing,RotorRPM_is_missing,TurbineStatus_is_missing,WindDirection_is_missing,WindSpeed_is_missing
0,402.654893,28.340541,42.910877,0.394399,0.888977,0.888977,64.834662,57.196089,1124.86072,65.7888,...,True,True,True,True,True,True,True,True,True,True

In [75]:
df.isna().sum()

ActivePower                                0
AmbientTemperatue                          0
BearingShaftTemperature                    0
Blade1PitchAngle                           0
Blade2PitchAngle                           0
Blade3PitchAngle                           0
GearboxBearingTemperature                  0
GearboxOilTemperature                      0
GeneratorRPM                               0
GeneratorWinding1Temperature               0
GeneratorWinding2Temperature               0
HubTemperature                             0
MainBoxTemperature                         0
NacellePosition                            0
ReactivePower                              0
RotorRPM                                   0
TurbineStatus                              0
WindDirection                              0
WindSpeed                                  0
year                                       0
month                                      0
day                                        0
hour                                       0
minute                                     0
ActivePower_is_missing                     0
AmbientTemperatue_is_missing               0
BearingShaftTemperature_is_missing         0
Blade1PitchAngle_is_missing                0
Blade2PitchAngle_is_missing                0
Blade3PitchAngle_is_missing                0
GearboxBearingTemperature_is_missing       0
GearboxOilTemperature_is_missing           0
GeneratorRPM_is_missing                    0
GeneratorWinding1Temperature_is_missing    0
GeneratorWinding2Temperature_is_missing    0
HubTemperature_is_missing                  0
MainBoxTemperature_is_missing              0
NacellePosition_is_missing                 0
ReactivePower_is_missing                   0
RotorRPM_is_missing                        0
TurbineStatus_is_missing                   0
WindDirection_is_missing                   0
WindSpeed_is_missing                       0
dtype: int64

In [77]:
#### Testing for Stationarity

from statsmodels.tsa.stattools import adfuller
test_result=adfuller(df['ActivePower'])
#H0 it is non stationary
#H1 it is stationary


def adfuller_test(Power):
  result=adfuller(Power)
  labels=['ADF Test Statistic','p-value','#Lags Used','Number of Observations Used']
  for value,label in zip(result,labels):
      print(label+' : '+str(value) )
  if result[1] <= 0.05:
      print("strong evidence against the null hypothesis(Ho), reject the null hypothesis. Data has no unit root and is stationary")
  else:
      print("weak evidence against null hypothesis, time series has a unit root, indicating it is non-stationary ")
        
adfuller_test(df['ActivePower'])

ADF Test Statistic : -21.001664058258637
p-value : 0.0
#Lags Used : 71
Number of Observations Used : 118152
strong evidence against the null hypothesis(Ho), reject the null hypothesis. Data has no unit root and is stationary

## Exploration

In [ ]:
import matplotlib.pyplot as plt